{% extends 'base/base.html' %}
{%  load crispy_forms_tags %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header text-white bg-info">
                    <div class="card-title">
                        Join Today!
                    </div>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        {% crispy form %}
                        </br>
                        <button class="btn-info" type="submit">Save</button>

                    </form>
                </p>
                    <div class="border-top pt-3">
                        <small class="text-muted">Already have an account? <a class="ml-2" href="{% url 'clients:login' %}">Sign in</a> </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}