{% extends 'administrator/base.html' %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Rental Details</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>Customer Information</h2>
      <p><strong>Name:</strong> {{ rent.user.first_name }}</p>
      <p><strong>Email:</strong> {{ rent.user.email }}</p>
      <p><strong>Total Price Paid:</strong> ${{ object.calculate_rental_fee }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>Films Rented</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Date Rented</th>
            <th>Date Returned</th>
            <th>Price</th>
            <th>Price Paid</th>
          </tr>
        </thead>
        <tbody>

        {% for rental_item in rental_history %}
<tr>
  <td>{{ rental_item.item__film__original_title }}</td>
  <td>{{ rental_item.date_rent|date:'d/m/Y' }}</td>
  <td>{% if rental_item.actual_return %}{{ rental_item.actual_return|date:'d/m/Y' }}{% else %}-{% endif %}</td>
  <td>${{ rental_item.item__price }}</td>
  {% if rental_item.actual_return %}
    <td>${{ rental_item.calculate_rental_fee }}</td>
  {% else %}
    <td>Movie not yet returned</td>
  {% endif %}
</tr>
{% endfor %}


{#        {% for rental in rental_history %}#}
{#      <tr>#}
{#        <td>{{ rental.item__film__original_title }}</td>#}
{#        <td>{{ rental.date_rent|date:'d/m/Y' }}</td>#}
{#        <td>{% if rental.actual_return %}{{ rental.actual_return|date:'d/m/Y' }}{% else %}-{% endif %}</td>#}
{#        <td>${{ rental.item.calculate_rental_fee }}</td>#}
{#        {% if rental.actual_return %}#}
{#          <td>${{ rental.calculate_rental_fee }}</td>#}
{#        {% else %}#}
{#          <td>Movie not yet returned</td>#}
{#        {% endif %}#}
{#      </tr>#}
{#    {% endfor %}#}
{#        {% for rental in rental_history %}#}
{#            <tr>#}
{#                <td>{{ rental.item__film__original_title }}</td>#}
{#                <td>{{ rental.date_rent }}</td>#}
{#                <td>{{ rent.actual_return }}</td>#}
{#                <td>{% if rent.actual_return %}{{ rent.actual_return }}{% else %}-{% endif %}</td>#}
{#                <td>${{ rental.calculate_rental_fee }}</td>#}
{#                {% if rental.actual_return %}#}
{#                    <td>${{ rental.calculate_rental_fee }}</td>#}
{#                {% else %}#}
{#                    <td>Movie not yet returned</td>#}
{#                {% endif %}#}
{#                </tr>#}
{#        {% endfor %}#}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}