{% extends 'base/base.html' %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header text-white bg-info">
                    <div class="card-title">
                        Return Film
                    </div>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <p>Are you sure you want to return the movie "{{ object.item }}"?</p>
                        <p><b>Rental fee: ${{ object.calculate_rental_fee }}</b></p>
                        {{ form.as_p }}
                        <button class="btn-info" type="submit">Return</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}